/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}


/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff9800 !important;
}
/* label focus color */
.input-field input[type=password]:focus + label {
    color: #ff9800 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #ff9800 !important;
}